@import '../styles/mixins';
 
 .btn-group {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 2px; 
}

.button-text {
  margin-top: 1px;
}
 
.btn-group button{
  color: $theme-blue; 
  background-color: white; 
border: 1px solid white;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 0.85rem; 
  padding: 8px 16px;
  width: 100%;
  margin: 0 8px;
}
.btn-group button:hover {
border: 1px solid $theme-gray; 
}

.btn-group  .active {
  color: $theme-blue; 
  background-color: $theme-ligth-gray;
  font-weight: 700; 
} 

