@import '../styles/mixins';

.filter-button { 
  color: #111e6c;
  background-color: white; 

  border-radius: $border-radius;
  border: 1px solid white;
  
  font-weight: 400;
  line-height: 27px;
  width: 150px;
  padding: 4px;
  
  display: flex;
  flex-direction: row;
  justify-content: center; 
  box-shadow: $shadow-sm;
  cursor: pointer;
  align-items: center; 
  margin-top: 16px ;
}  

.filter-button:hover {
  border: 1px solid $theme-gray; 
}

.icon-filter {
  height: 16px; 
  object-fit: cover; 
  margin-left: 23px;
}
