@import '../styles/mixins';

.sale-card { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  font-family: Inter, Arial;
  font-size: 3rem;
  font-weight: 700; 
  padding-bottom: 16px; 
  border-radius: 16px; 
  background-color: #fff;  
  align-items: center;
  min-width: 300px;
}

.card-header {
  width: 100%;
  font-weight: 600; 
  background: $secondary_gradient;
  color: $theme-ligth-gray;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: row;  
  align-items: left; 
  font-size: 0.85rem;
  line-height: 29px;
}
.header-title{
  margin: 8px 16px;
} 

.icon-info {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

 
.amount {
  background-image: $secondary_gradient ;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #774469;
  margin-top: 5px;
  line-height: 53px;
  font-size: 1.7rem;
}

.date {
  color: #111e6c; 
  margin-bottom: 4px;
  font-size: 0.8rem;
  font-weight: 300; 
}
